In [1]:

num1=2
num2=3
print(num1+num2)

5

### change the val to 20 and 30

In [ ]:

num1=20
num2=333
print(num1+num2)

# Dynamic 
dynamic input : input the value when your application is on to execution
input(): this function is used to accept the data from user at run time
NOTE: bydefault the datatype for input method is stringÂ¶

In [ ]:
a=input()
print("user entered value", a)

In [ ]:
a=input("enter the 1st value")
b=input("enter the 1st value")
print("addition", a+b)

In [ ]:
a=input("enter the 1st value")
b=input("enter the 2nd value")
print("datatype of a", type(a))
print("datatype of b" ,type(b))

In [ ]:
a=int('12')
print("datatype of a", type(a))

In [ ]:
a=int(input("enter the 1st value"))
b=int(input("enter the 2nd value"))
print("user entered", a+b)

# conditional statments

In [ ]:
num=12
num>=0

#   when we want to  execute  b/sonly  if the conditional is in true only

 z=10 
if  z>0:
    print("hllo")  # blc
    print("hii")
print("bye")          # here we are breaking the indentation  ::::::and it will xecute thi line if the con is true or false

In [ ]:
z=-3 
if  z>0:
    print("hllo")
    print("hii")  
print("bye")

#### write a python code to check whether the input number from user is positive or negative

In [ ]:
a=int(input("enter a value"))
if  a >=0:
    print("positive no", a)

print("negative",a)

In [ ]:
a=int(input("nter"))
if a >= 0:
    print("yes")
else :
    print("no")

#### if___ and else___ block
-
we want to  execute bls whenf th if e codition n in false

In [2]:
a=int(input("enter the value"))
if a>=0:
    print("positive no.",a)
else:   
    print("negative no", a)
print("i will be printing anyway")

enter the value 8

positive no. 8
im will printing anyway

###

In [ ]:
a=int(input("Enter a value"))
if a==25 or a==50 or a==75 or a==80:
    print("yes")                                                                                              # it will print same statmnt for all con
else:
    print("NO")

### >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

### for checking multiple condition we need to go throung
##### if ___ elif ____else statement

In [ ]:
a=int(input("Enter a value either 25, 50 ,75 and 80"))
if a==25:
    print("Twenty -five")
elif a==50:
    print("Fifty")
elif a==75:
    print("seventy five")
elif a==80:
    print("Eighty")
    print("eighty rupees will be added to your account")
else:
    print("Unmatch value")

In [ ]:
# enter a value : 12

In [ ]:
#enter a value : 45

In [ ]:
#enter a operation : + , - , * , /

In [ ]:
a=int(input("enter  1st value"))
b=int(input("enter  2nd value"))
c=input("enter a operation : + , - , * , / :::" )
if c=="+":
    print(a+b)
elif c=="-":
    print(a-b)
elif c=="*":
    print("Multiplication ",a*b)
elif c=="/":
    print("Division ",a/b)   
else :
    print("no operation is given")

#### nested if statement   e
ex :excute blc only if you usr nam and password is tru or right

In [ ]:
a=int(input("Enter a value")) 
if a>=0:
    print("further evaluation")
    if a==25:
        print("Twenty -five")
    elif a==50:
        print("Fifty")
    elif a==75:
        print("seventy five")
    elif a==80:
        print("Eighty")
        print("eighty rupees will be added to your account")
    else:
        print("Unmatch value")
else:
    print("Negative Number ",a)
print("Thank You")

#### what if user  enter 12 / 0   it will rturn ZeroDivisionError: division by zero

In [ ]:
a=int(input("enter  1st value"))
b=int(input("enter  2nd value"))
c=input("enter a operation : + , - , * , / :::" )
if c=="+":
    print(a+b)
elif c=="-":
    print(a-b)
elif c=="*":
    print("Multiplication ",a*b)
    
elif c=="/":
    if b==0:
        print("zero cannot b divisible by any no.")
    else:
         print("Division ",a/b)   
else :
    print("no operation is given")

#### get the city name from user (agra,delhi,mumbai) and print the monument (agra == tajmahal),(delhi==redfort),(mumbai==gateofindia)Â¶

In [ ]:
city=input("get the city name from user")  #????????????

if  city =="agra":
    print("the monument tajmahal")
elif city=="mumbai":
    print("the monument gateofindia")
elif city=="delhi":
    print("the monument rdfort")
else :
    print("oops")

In [ ]:
city=input("get the city name from user").upper()  #??????
print("the monument tajmahal", city)

# 30-10-2024 (Wednesday)
write a python code to ask user to enter a number . based on the user input value check whether it is divisible by 2 and 12 or not

In [ ]:
a=int(input("enter"))
b=int(input("enter"))
print(a%b)   # hre we are prforming opration

In [ ]:
a=int(input("enter a number"))

if a % 2==0 and a %12==0:
    print("yes")
else :
    print("no")

### write a python code to ask user to enter a number . based on the user input value check whether it is divisible by following condition.
1) Divisible by 2 only
2) Divisible by 3 only
3) Divisible by 2 and 3 both the value
4) NOT Divisible by 2 and 3 both the value

In [ ]:
d=int(input("enter"))
if d % 2==0:
    print("Divisible by 2 only")
elif d % 3==0:
    print("Divisible by 3 only")
elif d % 2==0  and d% 3==0:
    print("Divisible by 2 and 3 both the value")
elif   not d % 2==0  and d% 3==0:
    print("NOT Divisible by 2 and 3 both the value")

else :
    print("no")


# here what is happniing ???  common no between 2 and 3 are  6 12 18 ...when you give 6 which is div by both  it will 1st only diviible by    if d % 2==0:
it wont till here  elif d % 2==0  and d% 3==0:

In [ ]:
 d=int(input("enter"))
if d % 2==0:    
    if d % 3==0:
        print("Divisible by  both 2 and 3")
    else:
       print("Divisible by 2 only")
else :
    
    
    if d % 3==0:
          print("Divisible by  3 only")
    else:
       print("not Divisible by2 and 3 only")
        
elif   not d % 2==0  and d% 3==0:
       # print("NOT Divisible by 2 and 3 both the value")

#### program to chck income >=50000  credit_score >= 600: age >=21  "eligibl for credit card"

In [7]:
income=int(input("nter income"))
credit_score=int(input("enter score"))
age=int(input("enter age"))
if income >=50000:
    if credit_score >= 600:
        if  age >=21:
            print("eligibl for credit card")
        else :
            print(" not eligibl for  du to credit card")
    else :
        print ("not eligibl for  du tolow credit score")
else:
    print("not eligibl for  du toless income")

nter income 78990
enter score 890
enter age 56

eligibl for credit card

In [10]:
spend=int(input("cus_type")) 
if spend >= 1000:
    print("pre")
elif spend >= 500:
        print("gold")
elif spend >= 100:
        print("silver")
else :
     print(" oops")

cus_type 700

gold

In [ ]:
data1="python"
print(id(data1))

In [ ]:
data1="hiiiiiiiiiii"
print(id(data1))

In [ ]:
data1="bye"
print(id(data1))