# Variable: Container where data is store

## Data Type: Form of storage for Data

In [1]:
num1 = 12
num2 = 45.22
num3 = "Python"
num4 = True
num5 = 2+7j

In [2]:
print("Value of Num1:",num1)
print("Value of Num2:",num2)
print("Value of Num3:",num3)
print("Value of Num4:",num4)
print("Value of Num5:",num5)

Value of Num1: 12
Value of Num2: 45.22
Value of Num3: Python
Value of Num4: True
Value of Num5: (2+7j)

In [4]:
print(type(num1))
print(type(num2))
print(type(num3))
print(type(num4))
print(type(num5))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [5]:
var1 = 12
var2 = 5
print("Addition",var1 + var2)
print("Subtraction",var1 - var2)
print("Multiplication",var1 * var2)
print("Division",var1/var2)
print("Floor Division",var1//var2)
print("Remainder",var1 % var2)
print("Exponent",var1 ** var2)

Addition 17
Subtraction 7
Multiplication 60
Division 2.4
Floor Division 2
Remainder 2
Exponent 248832

In [6]:
num1 = 58
num2 = 90
print("Num1 = ",num1,"Num2 = ",num2)

Num1 =  58 Num2 =  90

In [1]:
cond1 = True
cond2 = False
cond3 = True
cond4 = True
print(cond1 and cond3 and cond4)
print(cond1 and cond2)

True
False

In [2]:
a = int(input("Enter the first value"))
b = int(input("Enter the second value"))
print("Total Value is: ",a+b)

Enter the first value12
Enter the second value23
Total Value is:  35

In [3]:
a = int(input("Enter the first value"))
b = int(input("Enter the second value"))
print("DataType of a is : ",type(a))
print("DataType of b is : ",type(b))

Enter the first value12
Enter the second value32
DataType of a is :  <class 'int'>
DataType of b is :  <class 'int'>

In [4]:
a = input("Enter the first value")
b = input("Enter the second value")
print("DataType of a is : ",type(a))
print("DataType of b is : ",type(b))

Enter the first value55
Enter the second value32
DataType of a is :  <class 'str'>
DataType of b is :  <class 'str'>

In [7]:
a = 34
if a>=0 :
    print("Hi")
    print("Hello")
    print("How are You")
print("Thank You")

Hi
Hello
How are You
Thank You

In [11]:
a = int(input("Enter the number:"))
if a >= 0 :
    print(a,"Is a Positive Number")
else:
    print(a,"Is a Negative Number")
    
print("Done")

Enter the number:5
5 Is a Positive Number
Done

# elif

### for checking multiple condition we need to elif condition or else condition

In [19]:
a = float(input("Enter the value: "))
if a == 25:
    print("Twenty Five")
elif a == 50:
    print("Fifty")
elif a == 75:
    print("Seventy five")
elif a == 80:
    print("Eighty")
else:
    print("Invalid Number")

Enter the value: 80
Eighty

In [26]:
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
c = input("Enter the operation needed: +, -, * , /")

if c == '+':
    print(a+b)
elif c == '-':
    print(a-b)
elif c == '*':
    print(a*b)
elif c == '/':
    if b == 0:
        print("Invaid input")
    else:
        print(a/b)
else:
    print("Invaid operator")

Enter the value of a: 5
Enter the value of b: 0
Enter the operation needed: +, -, * , //
Invaid input

In [30]:
CityName = input("City Name: Agra, Delhi, Mumbai: ")
if CityName == "Agra":
    print("Taj Mahal is monument in ",CityName)
elif CityName == "Delhi":
    print("Red Fort is monument in ",CityName)
elif CityName == "Mumbai":
    print("Gateway of India is monument in ",CityName)
else :
    print("Invalid city")

City Name: Agra, Delhi, Mumbai: Mumbai
Gateway of India is monument in  Mumbai

In [31]:
CityName = input("City Name (Agra, Delhi, Mumbai): ").strip().lower()

if CityName == "agra":
    print("Taj Mahal is a monument in Agra.")
elif CityName == "delhi":
    print("Red Fort is a monument in Delhi.")
elif CityName == "mumbai":
    print("Gateway of India is a monument in Mumbai.")
else:
    print("Invalid city")

City Name (Agra, Delhi, Mumbai): agra
Taj Mahal is a monument in Agra.

In [9]:
a = int(input("Enter the value: "))
if a != 0 and (a % 2 == 0 and a % 12 == 0):
    print("Divisible by 2 and 12")
else:
    print("Not divisible by 2 and 12")

Enter the value: 2
Not divisible by 2 and 12

In [15]:
a = int(input("Enter a Value: "))
if a!=0 and (a % 2 == 0 and a % 3 == 0):
    print("Divisible by 2 and 3")
elif a!=0 and (a % 2 == 0 and a % 3 != 0):
    print("Divisible by 2 Only")
elif a!=0 and (a % 2 != 0 and a % 3 == 0):
    print("Divisible by 3 only")
else:
    print("Not Divisible by 2 and 3")

Enter a Value: 55
Not Divisible by 2 and 3

# while loop

In [16]:
a = 1
while a <=10:
    print(a)
    a+=1
print("End")

1
2
3
4
5
6
7
8
9
10
End

In [17]:
a = 10
while a >=1:
    print(a)
    a -=1

10
9
8
7
6
5
4
3
2
1

In [22]:
a = int(input("Enter the Value:"))
i = 1 
while i <= a:
    print(i * i)
    i += 1

Enter the Value:12
1
4
9
16
25
36
49
64
81
100
121
144

In [32]:
a = int(input("Enter the Value"))
b = int(input("Enter the end point"))
i = 1
while i<=b:
    print(a*i)
    i+=1

Enter the Value5
Enter the end point6
5
10
15
20
25
30

In [33]:
a = int(input("Enter the Value"))
b = int(input("Enter the end point"))
i = 1
while i<=b:
    print(f"{a} * {i} = {a*i} ")
    i+=1

Enter the Value55
Enter the end point2
55 * 1 = 55
55 * 2 = 110

In [36]:
a = int(input("Enter the End Point: "))
i = 1
while i <= a:
    if i % 2 != 0:
        print(f"Odd number: {i}")
    i += 1

Enter the End Point:5
Odd number is1 True
Odd number is2 False
Odd number is3 True
Odd number is4 False
Odd number is5 True

In [37]:
data = "Happy Diwali!!!"
print(data)

Happy Diwali!!!

# for loop

In [41]:
for i in data:
    print(i,end="")
print("\nEnd")

Happy Diwali!!!
End

In [44]:
a = input("Enter the String: ")
vowel_count = 0
for char in a:
    if char.lower() in ["a", "e", "i", "o", "u"]:
        vowel_count += 1

print(f"Vowel count in '{a}': {vowel_count}")

Enter the String: Hello
Vowel count in 'Hello': 2

In [45]:
a = input("Enter the String: ")
data="aeiou"
vowel_count = 0
for char in a:
    if char.lower() in data:
        vowel_count += 1

print(f"Vowel count in '{a}': {vowel_count}")

Enter the String: TASMIYA
Vowel count in 'TASMIYA': 3

In [51]:
a = input("Enter the String: ")
count = 0
for i in a:
    count += 1
print(f"count in the string: {count}")

Enter the String: qwertyu
count in the string: 7

# if else

In [62]:
a = int(input("Enter the Start point: "))
b = int(input("Enter the End point: "))
i = 1
if a > b:
    for i in range(a,b+1):
        print(i)
else:
    print("Ending point is greater than starting point")

Enter the Start point: 20
Enter the End point: 100
Ending point is greater than starting point

In [69]:
a = int(input("Enter the Start point: "))
b = int(input("Enter the End point: "))
i = 1
if a < b:
    for i in range(a, b + 1):
        if i % 5 == 0 and i % 15 == 0:
            print(i)
else:
    print("Ending point is greater than starting point")

Enter the Start point: 5
Enter the End point: 500
15
30
45
60
75
90
105
120
135
150
165
180
195
210
225
240
255
270
285
300
315
330
345
360
375
390
405
420
435
450
465
480
495

# if with for

In [73]:
a = int(input("Enter the Start point: "))
b = int(input("Enter the End point: "))

even_count = 0
odd_count = 0

if a < b:
    for i in range(a, b + 1):
        if i % 2 == 0:
            even_count += 1
        else:
            odd_count += 1

print(f"Total even numbers: {even_count}")
print(f"Total odd numbers: {odd_count}")

Enter the Start point: 1
Enter the End point: 10
Total even numbers: 5
Total odd numbers: 5