# List 
is identify by []
it is mutable
it is heterogenous
it allow duplicate

it have index value start from 0

### create an empty list using []

In [1]:
#EMPTY LIST
var1=[]
print(var1)
print(type(var1))

[]
<class 'list'>

### create an empty list using the constructor  : 
here  we ar calling the with rpct to the (list is a )keyword ,declared with ()

In [2]:
var2=list()
print(var2)
print(type(var2))

[]
<class 'list'>

### insert the value using the square brackets []¶

In [3]:
#heterogenous
var3=[1,2,3,"for","at",True]
print(var3)
print(type(var3))

[1, 2, 3, 'for', 'at', True]
<class 'list'>

In [4]:
#duplicate
var4=[12,12,12,12,12,12,12,12]
print(var4)
print(type(var4))

[12, 12, 12, 12, 12, 12, 12, 12]
<class 'list'>

### insert the value using the constructor  : ([]) its a format

In [14]:
var5=list([12,19.87,"go",False,"afreen"])
print(var5)
print(type(var5))

[12, 19.87, 'go', False]
<class 'list'>

In [16]:
data=[12,"priya",13,"yogesh",14,"anup",15,"vidiya",16,"fiza"]

### accessing the element using index no. or access the name priya

In [17]:

print(data[1])

priya

###### print the last element¶

In [37]:
print(data[-1])

fiza

##### only numeric value

In [41]:
print(data[0 : : 2])
print(data[:  : 2])

[12, 13, 14, 15, 16]
[12, 13, 14, 15, 16]

##### only alpha value

In [44]:
print(data[1 : : 2])

print(data[1 : 10: 2])

['priya', 'yogesh', 'anup', 'vidiya', 'fiza']
['priya', 'yogesh', 'anup', 'vidiya', 'fiza']

##### that will accept the username and password¶

In [27]:
username=input("enter your name")
password=int(input("enter you password"))

# here we declaring  username as string and password

enter your name bas
enter you password 123

##### username in string and password is in numeric

In [35]:
# print only if   username.isalpha()   and password.isnumeric():   



username=input("enter your name")
password=input("enter you password")
if username.isalpha()   and password.isnumeric():
    print("right",username ,password)
else:
    print("wrONG  username &password")


#here we are using string functions .isalpha()   and  isnumeric():  bzc 1. input by default accecpt only string

enter your name nnxj
enter you password nnnnkj12

right nnxj nnnnkj12

In [36]:
sername=input("enter your name")
password=input("enter you password")
if username.isalpha()   and password.isalnum():
    print("right",username ,password)
else:
    print("wrONG  username &password")

enter your name njbjh
enter you password nbjb132

right nnxj nbjb132

In [33]:

username=input("enter your name")
password=int(input("enter you password"))
if username.isalpha()  :
    print("right",username ,password)
else:
    print("wrONG  username &password")

enter your name bjb
enter you password 123

right bjb 123

# 06-11-2024

In [ ]:
data=["red","black","orange","green"]

print(data)

#### check wether the white color is present or not

In [46]:
print("white" in data)

False

#### membership operator

In [51]:
if "white" in data:
    print("present")
else :
    print("not prsent")

not prsent

### Add the element in list   by usings list methods    :   var_name.method_name( arguments1)
1.append() :  
it will add the element at the end of list
it will add only one element at a time
and if we add mulitiple element then it will create a nested list

In [52]:
data=[12,13,14,15,16]
print(data)

[12, 13, 14, 15, 16]

In [53]:
#add the element 17
data.append(17)
data

[12, 13, 14, 15, 16, 17]

data.append(12,1,314)

TypeError: list.append() takes exactly one argument (3 given)

In [55]:
data.append([100,200,300])   


data

# this list will conatin on index value

[12, 13, 14, 15, 16, 17, [100, 200, 300]]

#### 2.index mthod (1 arg)  :   return index no

In [66]:
print(data.index(12))

0

In [68]:
#      0   1   2   3   4   5   6    7
data2=[12, 13, 14, 15, 16, 17,18 ,[100, 200, 300]]

#### fetching   the inner values of list

In [73]:
print(data2[7][0])

100

### examples

In [88]:
#      0  1               2       3            
#
data3 = [1,2,[11,12,13,[100,200,300]],14]
#              0  1 2   3 [0    1   2]
print(data3)

[1, 2, [11, 12, 13, [100, 200, 300]], 14]

In [89]:
print("fetch 14 :",data3[3])

fetch 14 : 14

In [90]:
print("fetch  12 :::" ,data3[2][1])

fetch  12 ::: 12

In [94]:
print(data3[2])

[11, 12, 13, [100, 200, 300]]

In [97]:
print(data3[2][0:3])

[11, 12, 13]

In [98]:
print(data3[2][3])

[100, 200, 300]

In [91]:
print("fetch " ,data3[2][3][0:3])    # here we are nesting list elemnts

fetch  [100, 200, 300]

### 2.  Insert(indexnumber ,value)  :expected 2 arguments
1. insert method  will add the element at specified location
2. TypeError ( in index if you  1 agru ) : insert expected 2 arguments, got 1

In [100]:
day=["sunday","tuesday","wednesday","saturday"]
print(day)

['sunday', 'tuesday', 'wednesday', 'saturday']

In [101]:
day.insert(1,"monday")
print(day)

['sunday', 'monday', 'tuesday', 'wednesday', 'saturday']

In [106]:
day.insert(4,["thursday","friday"])  #TypeError: insert expected 2 arguments, got 3
                                     # so  go for list

print(day)

['sunday', 'monday', 'tuesday', 'wednesday', ['thursday', 'friday'], ['thursday', 'friday'], 'saturday']

In [107]:
print(day)

['sunday', 'monday', 'tuesday', 'wednesday', ['thursday', 'friday'], ['thursday', 'friday'], 'saturday']

### 3. extend

it will add the element at the end
it will not go for the approach of nested list instead it will just extend the list

In [104]:
city=["hyd","mumbai","patna"]
print(city)

['hyd', 'mumbai', 'patna']

In [105]:
newcity=["delhi","banglore","thane"]
print(newcity)

['delhi', 'banglore', 'thane']

In [25]:
city.extend(newcity)
print(city)

['hyd', 'mumbai', 'patna', 'delhi', 'banglore', 'thane']

In [30]:
city.extend([1,2,3])
print(city)

['hyd', 'mumbai', 'patna', 'delhi', 'banglore', 'thane', 'delhi', 'banglore', 'thane', 1, 2, 3]

### method 2  :

In [29]:
city1=["d","bai","na"]
print(city1)

['d', 'bai', 'na']

In [28]:
city2=["hy","mum","pat"]
print(city2)

['hy', 'mum', 'pat']

In [31]:
city1.extend(["hy","mum","pat"])
print(city1)

['d', 'bai', 'na', 'hy', 'mum', 'pat']

### the extend can be achievd using the + operator

In [53]:
programming=["c","c++","java"]
visualization=["powerbi","excel","tableau"]

In [54]:
programming+visualization   # it is not stored anywhere

['c', 'c++', 'java', 'powerbi', 'excel', 'tableau']

In [55]:
print(programming)

['c', 'c++', 'java']

In [56]:

#1.
programming=programming+visualization 
print(programming)

['c', 'c++', 'java', 'powerbi', 'excel', 'tableau']

In [67]:
# 2.
a=["van"]
b=["oops"]

In [82]:
a+= b
print(a)

['van', 'oops', 'oops', 'oops']

### Modification   : Change or update or replacing the existing values

In [72]:
data=[2,3,4,5,8]
print(data)

[2, 3, 4, 5, 8]

In [73]:

print(data[4])

8

In [74]:
# update or change the value 10 to 100
data[4]=100
print(data)

[2, 3, 4, 5, 100]

In [75]:
print(data[1:4])

[3, 4, 5]

### change the mulitiple elements
    4,6,and 8 to 40,60 and 80

In [79]:
data[1:4]=40,60,80
print(data)

[2, 40, 60, 80, 100]

#### remove method () 
1. if element is not present it will through error2. 
if element is present it will simply remove that value¶

##### TypeError: list.remove() takes exactly one argument (2 given)

In [109]:
colors=["red","green","orange"]
print(colors)

['red', 'green', 'orange']

In [114]:
colors.remove("red")
print(colors)

ValueError: list.remove(x): x not in list

# pop method
1. the pop method will bydefault remove the last element2. 
it can remove the element also from the specified index3. 
pop will remove only one value at a time

In [96]:
val=[1,2,3,45]
print(val)

[1, 2, 3, 45]

In [97]:
val.pop()
print(val)

[1, 2, 3]

In [98]:
val.pop(0)
print(val)

[2, 3]

In [3]:
data=[1,2,3,4,5,6,67,8,9,9]
print(data)

[1, 2, 3, 4, 5, 6, 67, 8, 9, 9]

In [6]:
data.pop(2)

TypeError: pop expected at most 1 argument, got 2

In [ ]:
print(data)

In [4]:
print(data[3:7])

[5, 6, 67, 8]

print.pop(3:7)

### del keyword : it will delete the single or range of element using indexing and slicing  ............del can also be used to delete the varibale it self¶¶

In [6]:
print(data)

[1, 2, 4, 5, 6, 67, 8, 9, 9]

In [7]:
del data[2]
print(data)

[1, 2, 4, 5, 6, 67, 8, 9, 9]

In [ ]:
#

del data[2:5]
print(data)

### clear() : it will clear / remove all the element of a list
1. list.clear() takes no arguments (1 given)

In [9]:
data.clear()
print(data)

[]

### ===========================================================for loop======================================================================

#### display the above list using for loop
var =[1,2,3,4,5,6,7,8,10,9]

In [154]:
var1 =[1,2,3,4,5,67,8]

for c in var1:
    print(c)

1
2
3
4
5
67
8

#### display the above list using for loop  with index

In [152]:
#1
for x in range(0 ,7):
    print(x ,var1[x])

0 12
1 13
2 14
3 15
4 16
5 17
6 18

In [153]:
print(var[0])  # x

12

In [155]:
#2

var2=[12,13,14,15,16,17,18]
for x in range(0,len(var2)):
    print("index ",x , "element is",var2[x] )

index  0 element is 12
index  1 element is 13
index  2 element is 14
index  3 element is 15
index  4 element is 16
index  5 element is 17
index  6 element is 18

In [160]:
# 3
var =[1,2,3,4,5,67,8]
i=0 
for c in var:
    print(f"index {[i]} is {c}")
    i+=1

index [0] is 1
index [1] is 2
index [2] is 3
index [3] is 4
index [4] is 5
index [5] is 67
index [6] is 8

#### from the above list display only those element which is divisible by 2¶

In [156]:
for c in var2:
    if c%2==0:
        print(c)

12
14
16
18

In [159]:
for x in var2:
    if x %2==0:
       print(x,"div by 2 :")
    else:
      print("Not div by 2  :",  x)

12 div by 2 :
Not div by 2  : 13
14 div by 2 :
Not div by 2  : 15
16 div by 2 :
Not div by 2  : 17
18 div by 2 :

#### crete  2 list   one for even and odd display only those element which is divisible by 2 under even list

In [174]:

even=[]
odd =[]
for x in var2:
    if x %2==0:
      even.append(x)
#print("even ",even)   # here   print  will loop  hnce:)whatevr writen inside  for  loop will repeat
    else:
      odd.append(x)
#      print("odd",odd)


print("even ",even)
print("odd",odd)

even  [12, 14, 16, 18]
odd [13, 15, 17]

### ===========================================================for loop==============================================================================

## 1. deep copy
   1. deep copy is achived using the = op.
   2. if we add ,remove ,modify one list the another list  gets affected.

In [242]:
original=[1234,2,3,5,6,78,9]

In [243]:
clone=original

In [244]:
print(original)
print(clone)
# copy is made using = assingmnt op

[1234, 2, 3, 5, 6, 78, 9]
[1234, 2, 3, 5, 6, 78, 9]

#### add element to original list

In [245]:
#1
original.append("blue")

In [246]:
print(original)
print(clone)
# "blue" is copied to clone also

[1234, 2, 3, 5, 6, 78, 9, 'blue']
[1234, 2, 3, 5, 6, 78, 9, 'blue']

In [247]:
#2
clone.append("heheheheheheheheh")

In [248]:
print(original)
print(clone)
# "heheheheheheheheh" is copied to original also

[1234, 2, 3, 5, 6, 78, 9, 'blue', 'heheheheheheheheh']
[1234, 2, 3, 5, 6, 78, 9, 'blue', 'heheheheheheheheh']

#### remove element to original list

In [249]:
original.remove(1234)

In [250]:
# after removing the element

print(original)
print(clone)


# removed from the  clone list  too

[2, 3, 5, 6, 78, 9, 'blue', 'heheheheheheheheh']
[2, 3, 5, 6, 78, 9, 'blue', 'heheheheheheheheh']

#### modify or change 1st  element to  "once in a blue moon " clone list

In [251]:
clone[0]="once in a blue moon "

In [252]:
print(original)
print(clone)


# changed in original list too

['once in a blue moon ', 3, 5, 6, 78, 9, 'blue', 'heheheheheheheheh']
['once in a blue moon ', 3, 5, 6, 78, 9, 'blue', 'heheheheheheheheh']

## 2. Shallow copy
  1. shallow copy is achived using the copy method.
  2. if we add ,remove ,modify one list the another list wont get affected.

In [319]:
alpha =["hello ", "hii ","bye  bye ",987650 ,1234,"khana","khaa","ke Jana"]

In [320]:
beta=alpha.copy()

In [321]:
print(alpha)
print(beta)

# copy is created

['hello ', 'hii ', 'bye  bye ', 987650, 1234, 'khana', 'khaa', 'ke Jana']
['hello ', 'hii ', 'bye  bye ', 987650, 1234, 'khana', 'khaa', 'ke Jana']

#### add element to original list

In [322]:
#1
alpha.append("uffff")

In [323]:
print(alpha)
print(beta)

['hello ', 'hii ', 'bye  bye ', 987650, 1234, 'khana', 'khaa', 'ke Jana', 'uffff']
['hello ', 'hii ', 'bye  bye ', 987650, 1234, 'khana', 'khaa', 'ke Jana']

#### remove element from original list and copied list

In [324]:
#1.

beta.remove(987650)

In [325]:
print(alpha)
print(beta)

['hello ', 'hii ', 'bye  bye ', 987650, 1234, 'khana', 'khaa', 'ke Jana', 'uffff']
['hello ', 'hii ', 'bye  bye ', 1234, 'khana', 'khaa', 'ke Jana']

In [326]:
# 2.
alpha.remove(1234)

In [327]:
print(alpha)
print(beta)

['hello ', 'hii ', 'bye  bye ', 987650, 'khana', 'khaa', 'ke Jana', 'uffff']
['hello ', 'hii ', 'bye  bye ', 1234, 'khana', 'khaa', 'ke Jana']

#### modify or change last  element in original list

In [330]:
alpha[-1]=" :) "

In [331]:
print(alpha)
print(beta)

['hello ', 'hii ', 'bye  bye ', 987650, 'khana', 'khaa', 'ke Jana', ' :) ']
['hello ', 'hii ', 'bye  bye ', 1234, 'khana', 'khaa', 'ke Jana']

## SORTING   :

### 1. sort() mthod by default  sort in accending order

In [332]:
list1=["d","k","a","e","n"]
list2=[1,14,56,0,3,2,99]

In [333]:
print(list1)
print(list2)

['d', 'k', 'a', 'e', 'n']
[1, 14, 56, 0, 3, 2, 99]

In [334]:
list1.sort()
print(list1)

['a', 'd', 'e', 'k', 'n']

In [335]:
list2.sort()
print(list2)

[0, 1, 2, 3, 14, 56, 99]

### 2.  sort in decending order  declare agr called :: (reverse = True ) ::

In [336]:
list1.sort(reverse=True)
list2.sort(reverse=True)

In [337]:
print(list1)
print(list2)

['n', 'k', 'e', 'd', 'a']
[99, 56, 14, 3, 2, 1, 0]

##### sort the state

In [1]:
state=["Jammu","Rajisthan","Goa","Maharashtra","Delhi","Andhra"]
print(state)

state.sort()
print(state)


state.sort(reverse=True)
print(state)

['Jammu', 'Rajisthan', 'Goa', 'Maharashtra', 'Delhi', 'Andhra']
['Andhra', 'Delhi', 'Goa', 'Jammu', 'Maharashtra', 'Rajisthan']
['Rajisthan', 'Maharashtra', 'Jammu', 'Goa', 'Delhi', 'Andhra']

##### Sort the state based on the number of character in each word

In [2]:
state.sort(key=len)
print(state)

['Goa', 'Jammu', 'Delhi', 'Andhra', 'Rajisthan', 'Maharashtra']

##### Sort the state such that maharastra comes 1t

In [342]:
state.sort(key=len,reverse=True)
print(state)

['Maharashtra', 'Rajisthan', 'Andhra', 'Jammu', 'Delhi', 'Goa']

## Numeric   : prform below 
sum()
max()
min()¶

In [345]:
num=[12,13,14,15,16,17]
sum(num)

87

In [347]:
print(len(num))

6

In [348]:
max(num)

17

In [349]:
min(num)

12

# NOTE :

You're confirming the answers!

Yes, that's correct:

- Lower and Upper are indeed String Methods.
- Append and Remove are indeed List Methods.
- Min and Max are indeed Built-in Functions.

Well done!

# 1.  Why built in functions  min max but not lower and append

In [ ]:
In Python, min() and max() are built-in functions because they can work with various types of data, such as:

- Lists
- Tuples
- Strings
- Dictionaries (with some limitations)
- Sets
- Custom iterable objects

They can also take multiple arguments, and even accept a custom key function to determine the minimum or maximum value.

On the other hand, lower() and append() are methods because they are specific to certain data types:

- lower() is a method of string objects, used to convert the string to lowercase.
- append() is a method of list objects, used to add an element to the end of the list.

These methods are tightly coupled to their respective data types, and don't make sense in other contexts. By making them methods, Python's designers emphasized their connection to the specific data types they operate on.

Does that help clarify the distinction?

# 2 .How to identify functions and methods in pyrhon

Here are some tips to help you identify functions and methods in Python:

Functions

1. No dot notation: Functions are called without using dot notation. For example: print("Hello")
2. *Defined with def*: Functions are defined using the def keyword. For example: def greet(name): print("Hello", name)
3. Can be called independently: Functions can be called independently of any object. For example: math.sqrt(4)
4. Typically operate on arguments: Functions typically operate on arguments passed to them.

Methods

1. Dot notation: Methods are called using dot notation. For example: my_string.lower()
2. Defined inside a class: Methods are defined inside a class definition. For example: class MyClass: def my_method(self): print("Hello")
3. Called on an object: Methods are called on an object of the class. For example: my_object.my_method()
4. Typically operate on the object's state: Methods typically operate on the object's state (attributes).

Some examples to illustrate the difference:

- print("Hello") is a function call.
- "hello".lower() is a method call.
- math.sqrt(4) is a function call.
- my_list.append(4) is a method call.

By following these guidelines, you should be able to identify whether something is a function or a method in Python!

# 3.Math. Sqrt is using. U said functions don't use.

You are correct, I previously mentioned that functions do not use dot notation, but math.sqrt() is indeed a function that uses dot notation.

In Python, math is a module, and sqrt is a function within that module. The dot notation is used to access the sqrt function within the math module.

So, to correct my previous statement:

- Functions can be defined independently (e.g., def greet(name): ...) or as part of a module (e.g., math.sqrt()).
- Dot notation can be used to access functions within a module (e.g., math.sqrt()), but it's not typically used for independent functions (e.g., greet("John")).

Thank you for pointing out the inconsistency!