## variable: container where actual data is stored
- data type: form of storage for your data
- python is an expressive language

In [1]:
num1 = 12
num2 = 45.22
num3 = "Python"
num4 = True
num5 = 2+7j

In [ ]:
rint("Value of Num1:",num1)
print("Value of Num2:",num2)
print("Value of Num3:",num3)
print("Value of Num4:",num4)
print("Value of Num5:",num5)

#### type(): which is used to revel the data type of variable¶

In [ ]:
print(type(num1))
print(type(num2))
print(type(num3))
print(type(num4))
print(type(num5))

## operators : are symbol and key words used to perform the specific operation

### arithmetic operators

In [1]:

num1=2
num2=3

In [2]:
print(num1+num2)

5

In [3]:
print(num1-num2)
print(num1*num2)
print("division ",num1/num2)   # quotient
print(num1//num2)  # floor division  wont print values after . decimal point
print( "modulus",num1%num2)   # reminder
print(num1**num2)

-1
6
division  0.6666666666666666
0
modulus 2
8

### 2. comparision

In [4]:
m1=90
m2=90
print("num1 = " ,m1, "num2 =" ,m2)
print(m1==m2)
print(m1!=m2)
print("lesser " , m1<m2)
print("greter" ,m1>m2)
print(m1>=m2)
print(m1<=m2)

num1 =  90 num2 = 90
True
False
lesser  False
greter False
True
True

### 3. logical operator
it is used to compare against the condition
and : all must be true
or : at least one condition must be true¶

In [ ]:
con1=True
con2=True
con3=True
print(con1 and con2 and con3)
con4= False
print(con1 and con2 and con3 and con4)
#rror  (con1 and)
print( con2 and con4)

# or

In [ ]:
c1= False
c2=False
c3= True
print(con1 or con2 or con3)

### not : will reverse th ouput
true ---> false
false ---> true

In [14]:
c1= True
c2=False
c3= True
print(c1)
print(not c1 )
print(c1 and c2) #anD should return false  is false but it will return true 

print(not(c1 and c2))#anD should return false  is false but it will return true

True
False
False
True

### membership operator    ============ object

In [15]:
data= "water"
# IN : MUST BE Present  var
print("o" in data)
#  not IN : MUST not  be Present  var
print("o"  not in data)

False
True


# identity operator 
  checks  if both obj  have same memory location

In [70]:
x=["bop"]
y=["bop"]
x=z
print(x is z)
print(x is y)
# is a and b are identical
#print(z is  not x)

True
False

In [71]:
x="bop"
y="bop"
x=z
print(x is z)
print(x is y)

True
True

In [33]:
a=12
b=34
print(a is b) #  is a and b are identical
print(a is  not b)
print(a == b)  # ONLY COMPARE FOR Numric values   and checks obj equality same content

False
True
False

In [28]:
a1="bob"   
b1="bob"
print(a1 ==b1)
print(a1 is b1)

True
True

# assingmnt operator

# which var you want to store the result
ans:  var1


what opration you want to to prform
ans  :  +

In [56]:
var11= 12
var21 = 20
#print(var11)
#print(var21)
var11+= var21
print("var1",var1)

var1 32

In [ ]:
var11= 12
var21 = 20
#print(var11)
#print(var21)
var11+= var21
print("var1",var1